.dashboard-card {
  width: 250px;
  height: 110px;
  border: 1px solid lightgray;
  background: white;
  padding:10px;
  border-radius: 5px;
  border-bottom: 4px solid #3f51b5;
}
.card-title {
  color: #808080ab;
  font-size: 15px;
}
.card-value {
  font-size: 30px;
  color: #3f51b5;
  margin-bottom: 8px;
}
.top-website-title {
  font-size: 24px;
  color: #3f51b5;
  margin-bottom: 8px;
}
.dashboard-icon {
  height: 30px !important;
  width: 30px !important;
  font-size: 30px !important;
  padding: 10px;
  border-radius: 50%;
}
.website-icon {
  color: #27bcbbc2;
  background: #27bcbb30;
}
.account-icon {
  color: #9d7ad1;
  background-color: #ebddf0;
}
.top-website-icon {
  color: rgb(205 136 26);
  background-color: rgb(251 184 77 / 51%);
}