<div class="container">
  <div class="heading">Dashboard</div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="dashboard-card" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon class="dashboard-icon website-icon">language</mat-icon>
      <div fxLayout="column">
        <div class="card-value"> {{dashboardCountData?.websiteCount}} </div>
        <div class="card-title"> Number of Websites</div>
      </div>
    </div>
    <div class="dashboard-card" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon class="dashboard-icon account-icon">people</mat-icon>
      <div fxLayout="column">
        <div class="card-value"> {{dashboardCountData?.accountCount}} </div>
        <div class="card-title"> Number of Accounts</div>
      </div>
    </div>
    <div class="dashboard-card" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <mat-icon class="dashboard-icon top-website-icon">trending_up</mat-icon>
      <div fxLayout="column">
        <div class="top-website-title"> {{dashboardCountData?.topWebsite?.title}} </div>
        <div class="card-title"> Top Website</div>
      </div>
    </div>
  </div>
</div>