.button-loader-spinner-blocks div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #6a6a6a;
  animation: btn-page-keyframe-animation 1s linear infinite;
}
.button-loader-spinner-wrapper {
  position: fixed;
  top: calc((100% - 40px) / 2);
  left: calc((100% - 40px) / 2);
  height: 40px !important;
  width: 40px !important;
}
.button-loader-spinner-blocks {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.4);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  // background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.7;
  // z-index: 900;
  }