<!-- <ng-container *ngIf="loaderType === type?.button"> -->
<div class="loading">
  <div class="button-loader-spinner-wrapper">
    <div class="button-loader-spinner-blocks">
      <div style='left:27px;top:27px;animation-delay:0s'></div>
      <div style='left:50px;top:27px;animation-delay:0.25s'></div>
      <div style='left:27px;top:50px;animation-delay:0.75s'></div>
      <div style='left:50px;top:50px;animation-delay:0.5s'></div>
    </div>
  </div>
</div>
<!-- </ng-container> -->