.toolbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
  background-color: white;
  color: black;
  position:fixed;
  z-index:2;
}
.home-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}