<div class="home-container">
  <mat-toolbar class="toolbar">
    <h1 mat-button>Site Management </h1> &nbsp;
    <a mat-button [routerLink]="['/app/dashboard']">Dashboard</a>
    <a mat-button [routerLink]="['/app/all-website']">Websites</a>
  </mat-toolbar>
</div>
<div style="margin-top: 64px;" class="home-container">
  <router-outlet></router-outlet>
</div>