<div class="container">
  <div fxLayoutAlign="space-between start" fxLayout="row">
    <div class="heading">Websites</div>
    <button mat-raised-button color="primary" (click)="openDialog()">Add</button>
  </div>

  <mat-list class="mat-elevation-z1 website-list">
    <mat-list-item *ngFor="let item of websites">
      <h4 mat-line>{{item.title}}</h4>
      <p mat-line> {{item.url}} </p>
      <span mat-line *ngIf="item?.accountIds?.length"> {{ item?.accountIds?.length+ ' Account(s)' }}</span>
      <span mat-line *ngIf="!item?.accountIds?.length"> No Accounts</span>
      <div fxLayoutAlign="end">
        <button mat-icon-button (click)="openDialog(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDeleteConfirmationDialog(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<ng-template #addWebsite let-data>
  <h2 mat-dialog-title>Create Website</h2>
  <form [formGroup]="websiteForm">
    <mat-dialog-content fxLayout="column">
      <mat-label>Url</mat-label>
      <mat-form-field>
        <input matInput formControlName="url">
        <mat-error *ngIf="websiteForm.get('url').hasError('required')"> This field is required</mat-error>
      </mat-form-field>
      <mat-label>Title</mat-label>
      <mat-form-field>
        <input matInput formControlName="title">
        <mat-error *ngIf="websiteForm.get('title').hasError('required')">This field is required</mat-error>
      </mat-form-field>
      <mat-label>Accounts</mat-label>
      <mat-form-field>
        <mat-select formControlName="accountIds" multiple>
          <mat-option *ngFor="let item of accountDetails" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="end">
      <button mat-raised-button mat-dialog-close (click)="websiteForm.reset()"
        [ngClass]="{'cancel-disable' : isLoading}">Cancel</button>
      <button mat-raised-button color="primary" type="submit" (click)="data ? onUpdate(data.id) : onSubmit()"
        [disabled]="isLoading"> {{data ?
        'Update' : 'Save'}}
        <app-loader *ngIf="isLoading"></app-loader>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>
<ng-template #deleteConfirmation let-data>
  <h4 mat-dialog-title>Confirmation</h4>
  <div mat-dialog-content>
    <p> {{messages?.DELETE_CONFIRMATION}}</p>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end">
    <button mat-stroked-button color="primary" mat-dialog-close [ngClass]="{'cancel-disable' : isLoading}"> No </button>
    <button mat-raised-button color="primary" (click)="deleteWebsite(data)" [disabled]="isLoading"> Yes
      <app-loader *ngIf="isLoading"></app-loader>
    </button>
  </div>
</ng-template>