/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; background:#80808003; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin: 20px;
  background: white;
  border: 1px solid #e8e6e6;
  padding: 20px;
}
.heading {
  font-size:20px;
  padding: 0px 0px 25px 0px;
}

.custom-snack-bar {
  color: white;
  .mat-simple-snackbar-action {
      color: white;
  }
}
.success-snack-bar {
  background-color: #4caf50;
}
.error-snack-bar {
  background-color: #f44336;
}


.mat-raised-button.mat-primary[disabled] {
  color: rgba(0, 0, 0, 0.05);
}
.cancel-disable {
  pointer-events: none;
}